<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-family: Georgia;font-size: larger;font-weight: bold;color: #007fff;">{{ 'HEADERS.MESSAGE' |translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-segment >
      <ion-segment-button value="nmsg" (click)="switchchoice('nmsg')">
        <span style="font-weight: bold;">{{ 'MESSAGE-TAB.NEW' | translate }}</span>
      </ion-segment-button>
      <ion-segment-button value="pmsg" (click)="switchchoice('pmsg')">
        <span style="font-weight: bold;">{{ 'MESSAGE-TAB.PREVIOUS' | translate }}</span>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="new_message">
    <ion-grid style="margin-top: 7%;">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">{{ 'MESSAGE-TAB.SUBJECT' | translate }}</ion-label>
            <ion-textarea class="subject" ></ion-textarea>
          </ion-item>
          
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">{{ 'MESSAGE-TAB.BODY' | translate }}</ion-label>
            <ion-textarea class="subject" ></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button expand="block" (click)="sendMessage()">{{ 'MESSAGE-TAB.SENDBUTTON' | translate }}</ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!new_message" >
    <div *ngFor="let message of messages">
      <ion-card class="mainmessage">
        <ion-card-header>
          <ion-card-subtitle>{{message.message_date | date: 'mediumDate'}}</ion-card-subtitle>
          <ion-card-title>{{message.message_subject}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{message.message_body}}
        </ion-card-content>
        <ion-card class="submessage">
          <ion-card-header>
            <ion-card-subtitle>Reply From Secretary</ion-card-subtitle>
            <ion-card-subtitle *ngIf="message.reply_date == 'not replied'">----</ion-card-subtitle>
            <ion-card-subtitle *ngIf="message.reply_date != 'not replied'">{{message.reply_date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{message.message_reply}}
          </ion-card-content>
        </ion-card>
      </ion-card>
    </div>
    
    
  </div>
  
 <!-- <div [ngSwitch]="message">
    <ion-list *ngSwitchCase="'pmsg'">
      {{getMessageByMemberId()}}
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      ...
    </ion-list>
  
    <ion-list *ngSwitchCase="'nmsg'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
      ...
    </ion-list>
  </div>-->
</ion-content>
