ion-segment{
    
    ion-segment-button{
        --color-checked : #002b5c;
    }
}
ion-card{
    ion-card-content:first-letter{
        text-transform: capitalize;
    }
    ion-card-title:first-letter{
        text-transform: capitalize;
    }
}
.mainmessage{
    background-color: #002b5c;
    color: white;
    ion-card-title{
        color: white;
    }
    ion-card-subtitle{
        color: white;
        font-weight: bold;
    }
}
.submessage{
    background-color: whitesmoke;
    ion-card-subtitle{
        color: black;
    }
    ion-card-content{
        color: grey;
        font-weight: bold;
    }
}
.subject{
    
    width: 100%;
    height: 40px;
    font-size: 16px;
    
}
.body{
    width: 100%;
    height: 100px;
    font-size: 16px;
}
ion-button{
    width: 100%;
    margin-top: 10%;
    --background: #002b5c;
    color: white;
    font-weight: bold;
}