<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;font-family: Georgia;font-size: larger;font-weight: bold;color: #007fff;">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item transparent style="margin-top: 30%;">
    <ion-icon name="lock-closed-sharp"></ion-icon>
    <ion-input  placeholder="New Password" type="password"></ion-input><br><br>
  </ion-item>

  <ion-item transparent>
    <ion-icon name="lock-closed-sharp"></ion-icon>
    <!--<ion-input [(ngModel)]="Password" placeholder="Password" type="password"></ion-input>-->
    <ion-input type="password" placeholder="Re-Enter Password"></ion-input>
    </ion-item>
  <div linespace>
    <ion-button class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="updatePassword()">Update Password</ion-button>
  </div>
</ion-content>
